@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/*
  Normalize CSS
*/
html {
    line-height: 1.2;
    text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

main {
    display: block;
}
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}
/**
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    font-size: 100%;
    line-height: 1.2;
    margin: 0;
    overflow: visible;
}
/**
    1. Remove the inheritance of text transform in Firefox.
 * Correct the inability to style clickable types in iOS and Safari.
 */
button {
    text-transform: none;
    -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

figure {
  margin: 0;
  padding: 0;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

/*
  Navigation
*/
.header {
  margin: 0 20px;
}

.nav-flex-container,
.nav-icons {
  display: flex;
}

.nav-icons {
  align-items: center;
}

.nav-flex-container {
  margin-bottom: 30px;
  align-items: center;
}

.logo {
  flex: 1;
}
.search-bar {
  flex: 4;
}

.nav-icons {
  justify-content: flex-end;
  flex: 1;
  list-style-type: none;
}

#youtube-logo {
  width: 120px;
}

.search-bar > button {
  position: relative;
  width: 10%;
  left: -5px;
  border: solid thin rgba(0,0,0,0.2);
  height: 38px;
}

#search-bar {
  width: 70%;
  height: 34px;
  position: relative;
  margin-left: 55px;
  border: solid thin rgba(0,0,0,0.2);
  padding-left: 20px;
}

#search-button {
  width: 15px;
}

.nav-icons .icon {
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  width: 30px;
}

/*
  Main section
*/
.color-gray {
  color: gray;
}

.text-right {
  float: right;
}

main {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
main .video-container {
  flex: 4;
}
main .recommended-videos {
  flex: 2;
}
main .recommended-videos ul{
    list-style-type: none;
}
.recommended-video {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}
.recommended-video figure {
  flex: 2;
}
.recommended-video figure img {
  width: 100%;
}

.recommended-video section {
  flex: 3;
  padding-left: 10px;
}

iframe {
    width: 98%;
    height: 500px;
    margin-top: 3%;
}
h2 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.8);
}
.video p {
    font-size: 14px;
    font-weight: 300;
    color: rgba(0,0,0,0.8);
    margin-top: -5px;
}

.like-dislike-share {
    display: flex;
    float: right;
    margin-right: 2%;
    margin-top: -40px;
}

.like-dislike-share .icon-wrapper {
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.like-dislike-share .icon-wrapper .icon {
    padding-right: 10px;
    width: 24px;
}
hr {
    margin-right: 2%;
}
.fa-toggle-on {
  font-size: 24px;
  position: relative;
  top: 4px;
}
.fa-video-camera,
.fa-th,
.fa-bell {
  font-size: 20px;
  padding-left: 16px;
  padding-right: 16px;
  color: gray;
}

.line {
    width: 140px;
    height: 4px;
    background-color: gray;
    bottom: -7px;
}
.video-uploaded-by {
    display: flex;
    margin-top: 20px;
}

.user-avatar img {
    width: 60px;
}
.user-avatar-navigation {
  padding-left: 10px;
}
.user-avatar-navigation img {
  width: 35px;
}
.user-info {
    flex-basis: 70%;
    margin: 0 20px;
    margin-top: -10px;
}
#subscriber-count {
    margin-top: -20px;
    font-size: 14px;
    color: gray;
}
#subscribe-button {
    height: 34px;
    background-color: #FF0000;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
    border-radius: 3px;
    text-transform: uppercase;
}
#videos-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}
